* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  margin: 0 auto;

  width: 1000px;
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
  font-family: 'Playfair Display', serif;
  }
  
  body {
    margin: 0 auto;
    width: 940px;
    height: auto;
    background-color: #274472;
  }
header {
  height: 70px;
  width: 940px;
  background-color: #41729F;
  float: right;
  
}


nav {
  height: 70px;
  width: 940px;
  justify-content: center;
  
}

nav ul {
  list-style: none;
  text-align: right;
  float: right;
  background-color: #C3E0E5;
  
}

nav ul li {
  margin: 5px;
  padding-right: 5px;
  float: right;
    list-style: none;
    text-align: right;
}

nav ul li a {
  float: right;
    list-style: none;
    text-align: right;
    
}

 nav h2{
  color: #C3E0E5;
  
}



section{
  float: left;
  width: 940px;
  height: 350px;

}

.container {
  
  width: 940px;
  height: 350px;
  background-color: #5885AF;
  display: flex;
  float: left;
}
.image{
  width: 350px;
  
}


.servicios{
  float: left;
  display: flex;
  height: 300px;
}

.contenido{
  width: 300px;
  height: 400px;
  margin-left: 5px;
}

.caja{
  width: 400px;
  float: right;
  background-color: red;
}

p{
  font-size: 20px;
  font-weight: 400;
}

